@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url(main.css);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
	font-family: 'Concert One', cursive;
	background: url('https://3.bp.blogspot.com/-jnLGcmFedUE/XBIDo7uBqyI/AAAAAAAAGO0/wrNmT82NMdkl586YUn0xx5dakaWee1nbwCLcBGAs/s1600/giphy.gif') no-repeat center center fixed;
	background-size:cover;	
}

.container {
    width: 90%;
    margin: auto;
    text-align: center;
}

 .row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
} 

[class*= "col-"] { 
    padding: 1em; /*15px*/
    /*margin-right: 2%; /*Esto es el gutter */
    float: left;
 }

section{
	margin-top: 8rem ;
}

.title{
	color: #E3A90B
}

.text-color{
	color:rgba(147,206,222,1);
}

.text-center{
	text-align: center;
}
/***** SECCIONES MOSTRAR ******/
#instructions,#program{
	display: none;
}

                             /*##########    ESTILOS OTROS ###########*/

/***** ESTILOS ASIDE - INSTRUCIONS *****/ 

 ol li{
	margin-top: 1rem;
	text-align: justify;
}

/***** ESTILOS FORMULARIO ******/
.form{
	border-radius: 4px ;
	background-color: rgba(83, 108, 118, 0.7);
	margin: 1rem;
	padding: 1rem;
}
.form-group{
	padding: 0.5rem;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align: center;
  margin-top: 0.5rem
}

button{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  font-family: 'Concert One', cursive; 
}

/****************       RESPONSIVE ********************/

/*Mobile First */
  .col-xs-12 {
    width: 100%;
  }


/* Tablet */

 @media (min-width: 768px) {

    body {
    	font-size: 1.2rem;      
    }

    section{
	margin-top: 10rem ;
	}
    
	article{
		padding: 1em;
	}
	aside{	
		margin-top:1rem;
	}


    .col-sm-4{
    	width:30%;
    }
    
    .col-sm-8{
    	width: 70%;
    }


}
























