*{
    margin: 0
    padding: 0;    
}
body{
	background: url("img/fondo.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family:Georgia, Serif;
}
#resultado{
	display: none;
}

/**header*/
.container-fluid{
	background-color: rgba(51, 113, 147, 0.5);
	text-align: center;	
	padding: 5px;	
}
.page-head h1{
	font-size:70px;	
	color:#E3A90B;	
}
.page-head h1 , .banner h2{
	font-weight: bold;
}

/*Redes sosciales*/
.social-header {
	padding: 20px;
	display: flex;
	flex-wrap:wrap;
	justify-content:center	
}
.social-header a {
	color: #fff;
}	
.social-header a .fa-inverse {
	color:#E3A90B;	
}
/* descripcion***/
.banner{
	background-color: rgba(51, 113, 147, 1);
	color:#070429;
}
.banner h4{
color:#E3A90B;
}

/******FOMULARIO***/
.container{
	margin-top: 50px;
	margin-bottom: 20px;
	background-color: rgba(83, 108, 118, 0.4);
	padding:1.5em;
	font-weight: bold;
}
.container h2{
	font-weight: bold;
	text-align: center;
	color:#070429;
}
.classic-container{
	margin:0 80px;
}
.form-group label{
	color: #E3A90B;	
	margin-top:15px;
}
.form-group input{
	text-align: center;
}
.form-group p{
	text-align: center;
	color:#deecff;
}
#botones {
	display: block;		
	margin-left: 30%;
}
button{
	margin-bottom: 20px; 
}
.btn-center{
	margin-top:25px;
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}






